.contenedor{
    background-color: rgb(77, 119, 119);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 50%;
    position: relative;
    left: 25%;   
   
}

input[type="text"],
input[type="email"],
select,
textarea{
    width: 100%;
    padding: 10px;
    margin:8px 0;
    border:1px solid greenyellow;
    border-radius: 10px;
    box-sizing: border-box;

}
input[type="submit"]{
    width: 100px;
    border-radius: 5px;
    padding: 10px;
    background-color: cornflowerblue;
    cursor: pointer;
    
}
input[type="submit"]:hover{
    background-color: blue;
}
