.subtitulo{
    margin:15px;
    padding: 0;
    color: rgb(0, 255, 55);
    
}
.img{
    width: 10%;
    float: right;
    margin-left: 20px;
    margin-right: 10px;

}
.img2{
    width: 10%;
    float: left;
    margin-right: 20px;
    margin-left: 10px;
}
p{
    margin: 10px;
    font-family:  sans-serif;
    
}
h3{
    margin:15px;
}
.letra::first-letter{
    color: blueviolet;
   font-size: 50px;
}
